.postsContainer {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    gap:32px;
}

.navegacao {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #BFFFC3;
    
}